// Global styling for this template
body {
  overflow-x: hidden;
  @include body-font;
}

p {
  line-height: 1.75;
}

a {
  color: $primary;
  &:hover {
    color: darken($primary, 10%);
  }
}

.text-primary {
  color: $primary !important;
}
.card {
    width: 100%;   
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  @include heading-font;
}

.page-section {
  padding: 50px 0;
  h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    @include serif-font;
  }
}
@media(min-width:768px) {
  section {
    padding: 150px 0;
  }
}

// Highlight color customization
::-moz-selection {
  background: $primary;
  text-shadow: none;
}

::selection {
  background: $primary;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}
// Media Query For Job Section
.hide-desktop {
		display: none;
	}
.col-desktop {
	padding: 0px;
}
.col-clients {
		margin: 0px auto;
		padding-left: 90px;
	}
.card-desk {
	border:none;
	background: #986bd0;
	padding-right: 20px;
}
@media only screen and (max-width: 480px) {
	.hide-mobile {
		display: none;
	}
	.hide-desktop {
		display: block;
		text-align: center;
		padding-top: 40px;
	}
	.col-desktop {
		padding: 0px 15px;
	}
	.card-mobile-padding {
		padding-bottom: 30px;
	}
	.page-section {
		padding: 50px 0px;
	}
	.col-mob {
		padding-bottom: 20px;
	}
	.col-clients {
		padding-left: 10px;
	}
	.card-mob {
		padding-right: 0px;
	}
	
}